<html>
  <head></head>
  <style type="text/css">
    #canvasDiv {
    width: 500px;
    height: 200px;
    background-color: black;
  }
  </style>
  <body onload="Init()">
    <title>Emerging Tech Project</title>
   
    <center><h1>Digit Recognizer</h1></center>
    <div align="center">
      <div id="canvasDiv">
          <canvas id="canvas"></canvas>
      </div>
      
      <br /><br />
      <button onclick="submit()">Make Prediction</button>
      <button onclick="clearArea(); return false;">Clear Area</button>

     
        <h4 id="predictedNum"></h4>
      
      <!--Line width : <select id = "width">
        <option value="5" selected="selected">5</option>
      </select>
      Color : <select id ="color">
        <option value="black" selected="selected">black</option>
      </select>-->
    </div>

  <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

  <script>

    var mousePressed = false;
    var Lastx, Lasty;
    var ctx;

    function Init() {
      ctx = document.getElementById('canvas').getContext("2d");

      $('#canvas').mousedown(function (e) {
        mousePressed = true;
        Draw(e.pageX - $(this).offset().left, e.pageY - $(this).offset().top,
        false);
      })

    $('#canvas').mousemove(function (e) {
        if (mousePressed) {
            Draw(e.pageX - $(this).offset().left, e.pageY - $(this).offset().top, true);
        }
      });

    $('#canvas').mouseup(function (e) {
        mousePressed = false;
      });
	    $('#canvas').mouseleave(function (e) {
        mousePressed = false;
      });
    }

    function Draw(x, y, isDown){
      if(isDown) {
        ctx.beginPath();
        ctx.strokeStyle = "white";
        ctx.lineWidth = 10;
        ctx.lineJoin = "round";
        ctx.moveTo(Lastx, Lasty);
        ctx.lineTo(x, y);
        ctx.closePath();
        ctx.stroke();
      }
      Lastx = x; Lasty= y;
    }

    function clearArea() {
      ctx.setTransform(1,0,0,1,0,0);
      ctx.clearRect(0,0, ctx.canvas.width, ctx.canvas.height);
    }

    function submit(){
      var canvas = document.getElementById("canvas");
      var dataURL = canvas.toDataURL();
      console.log(dataURL);

      $.ajax({
        type: "POST",
        url: "/predict", 
        data: {
          imgBase64: dataURL
        }
      }).done(function(result){
        console.log('Sent' + result);
        $("#predictedNum").empty().append(result);
      });

    }

  </script>

  </body>
</html>